#share-wa:hover{
    color:#4AA02C;
}
#share-wa{
    color:#25D366;
}
#share-em:hover{
    color:#f11f1f;
}
#share-em{
    color:red;
}
#share-ph:hover{
    color:#4AA02C;
}
#share-ph{
    color:#25D366;
}
